/************************************************
*
* Project: webDev2023Course
* File: intermediateCSS/7.0_CSS_Cascade/style.css
*
* Date Created: 08/22/2023 
* Date Modified: 
*
* Author: David J Tinley
* Description: 
*
************************************************/

/* Don't change the existing CSS. */
#outer-box {
  background-color: purple;
}

.box {
  background-color: blue;
  padding: 10px;
}

.inner-box {
  background-color: red;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}


















