/************************************************
*
* Project: webDev2023Course
* File: introCSS/5.3_CSS_Selectors/style.css
*
* Date Created: 
* Date Modified: 
*
* Author: David J Tinley
* Description: 
*
************************************************/

ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Element Selector */
p {
  color: red;
}

/* Class Selector */
.note {
  font-size: 20px;
}

/* ID Selector */
#id-selector-demo {
  color: green;
}

/* All list elements with value set to 4 */
li[value="4"] {
  color: blue;
}

/* Global assignment */
* {
  text-align: center;
}
