/************************************************
*
* Project: webDev2023Course
* File: introCSS/5.3_CSS_Selectors/style.css
*
* Date Created: 
* Date Modified: 
*
* Author: David J Tinley
* Description: 
*
************************************************/

ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */